<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>NSIC by NextHop</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59935578-2', 'auto');
  ga('send', 'pageview');

</script>
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" >
				<h1><strong><a href="index.html">NSIC</a></strong> by <a href="http://nexthop.network" target="_blank">NextHop</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="sponsors.html">Sponsors</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<img class="logo" src="images/logo.png" /><br />
				<h2>April 1 & 2, 2017</h2>
				<ul class="actions">
					<li><a href="https://goo.gl/forms/3X6XajY65nD0AzYe2" class="button special big" target="_blank">Sign Up to Participate!</a></li>
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Build an Infrastructure</h2>
									<p>From the ground up</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>NSIC is a competition for college students of all experience levels. Students get to build a corporate topology from the ground up.</p>
								<p>Participants will be racing the clock, each other, and overcoming real world issues being thrown at them.</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="details" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Where/When/Who </h2>
							<p>The details</p>
						</header>
						<div class="row 150%">
							<div class="centered">
								<div class="innertext">
										<p>NSIC is the Networking & Systems Infrastructure Competition hosted by RIT's Networking & Systems Administration club, <a href="http://nexthop.network" target="_blank">NextHop</a>. The event will be held at <a href="http://rit.edu" target="_blank">RIT</a> in Rochester, NY during April 1 & 2, 2017. </p>
										<p>Teams must have 5 members to compete. The only requirement is that all members must be current college students. The registration fee for each team will be $50. This includes participation in the event, t-shirts, four meals, and <a href="#prizes">prizes</a> for the winning teams.</p>
										<p>If you really want to participate, but can't find a team, we've set up a <a href="https://goo.gl/forms/17E0kGInED5C9d1Z2" target="_blank">form here</a>. This does not guarantee you will be put on a team, but we will try our best.</p>
								</div>
						</div>
						</div>
						<ul class="actions">
							<li><a href="http://eepurl.com/cArtLj" class="button big" target="_blank">Sign Up for Info</a></li>
							<li><a href="https://goo.gl/forms/3X6XajY65nD0AzYe2" class="button special big" target="_blank">Sign Up to Participate!</a></li>
						</ul>
					</div>
				</section>
				<section id="schedule" class="wrapper style1 special">
						<div class="container">
						<header class="major">
							<h2>Schedule</h2>
							<p>Subject to change</p>
						</header>
						<div class="row 150%">
							<div class="centered">
								<div class="innertext2">
									<div class="schedule-list1">
										<h1>Saturday, April 1, 2017</h1>
										<ul>
											<p1><li>8:30 a.m. - Check-in opens</li>
											<li>9:00 a.m. - Opening remarks</li>
											<li>9:15 a.m. - M&T Bank Keynote speaker</li>
											<li>10:00 a.m. - Competition Begins!</li>
											<li>12:00 p.m. - Lunch / Meet & greet with sponsors</li>
											<li>1:00 p.m. - Competition resumes</li>
											<li>6:00 p.m. - Competition concludes for the day</li>
											<li>7:00 - p.m. - Optional off-campus gathering</li></p1>
											<!-- <li>9AM - Registration</li>
											<li>9:15AM - Opening remarks & keynote speaker</li>
											<li>10AM - Competition Begins!</li>
											<li>12 - 1PM - Lunch and Meet & Greet with Sponsors</li>
											<li>6PM - Competition ends for the day</li>
											<li>7PM - Optional off-campus gathering</li> -->
										</ul>
									</div>
									<div class="schedule-list2">
										<h1>Sunday, April 2, 2017</h1>
										<ul>
											<p1><li>8:45 a.m. - Breakfast served / Meet & greet with sponsors</li>
											<li>9:30 a.m. - Competition resumes</li>
											<li>12:00 p.m. - Lunch / SMP Tech Talk</li>
											<li>1:00 p.m. - Competition resumes</li>
											<li>4:00 p.m. - Competition ends</li>
											<li>4:30 - p.m. - Awards and closing remarks</li></p1>
											<!--<li>9AM - Breakfast</li>
											<li>10AM - Competition Resumes</li>
											<li>12PM - Lunch</li>
											<li>3PM - Competition Ends</li>
											<li>3PM - Tech talk & scoring</li>
											<li>3:30PM - Awards & closing remarks</li>-->
										</ul>
									</div>
								</div>
						</div>
						</div>
					</div>
				</section>

			<!-- Three -->
				<section id="topics" class="wrapper style2">
					<div class="container">
						<header class="major special">
							<h2>Focus Areas</h2>
							<p>What is this all about?</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="images/pic04.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Networking</h4>
										<p>Routing & Switching</p>
									</header>
									<p>Hands on configuration and topology building with equipment from multiple vendors.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic05.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Systems Administration</h4>
										<p>Windows & Linux</p>
									</header>
									<p>Plan, design, implement, operate, and optimize network services based on business requirements.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic06.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Team Building</h4>
										<p>Work together to solve problems</p>
									</header>
									<p>Work with others to solve complex and quickly changing problems as the event progresses.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic07.png" alt="" /></div>
								<div class="content">
									<header>
										<h4>Creative Thinking</h4>
										<p>Adapt quickly to new problems</p>
									</header>
									<p>Just like in the real world, requirements are always changing and infrastrutures are ever elvolving. Work quickly to adapt to these changes.</p>
								</div>
							</div>
						</div>
						<div style="text-align: center; padding: 10px 10px;">
							<a href="https://docs.google.com/document/d/13FQrTlnEgQAfLknITDIAL6lR_lX_uXwGm-dVQem4HDk/pub" class="button big" target="_blank">List of possible topics</a>
						</div>
					</div>
				</section>

				<section id="prizes" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Prizes</h2>
									<p>Subject to change</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<ul id="prizelist">
									<li><a href="https://www.digitalocean.com/">$750 DigitalOcean Credits</a></li>
									<li><a href="https://www.amazon.com/MX279H-27-Inch-1920x1080-ICEpower-Frameless/dp/B00B17C5KO/ref=cm_cr_arp_d_product_top?ie=UTF8">ASUS 27'' HD Monitors</a></li>
									<li><a href="https://www.raspberrypi.org/products/raspberry-pi-3-model-b/">Raspberry Pi 3's</a></li>
									<li><a href="https://www.newegg.com/Product/Product.aspx?Item=N82E16820147372">250GB Samsung SSDs</a></li>
									<li><a href="http://www.oreilly.com/pub/au/4810#Books">Networking & SysAdmin Books</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section id="contact" class="wrapper style2 special">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<p>Here are different places you can get in touch with us. </p>
								<ul id="contactlist">
									<li>Email: <a href="mailto:nexthop@rit.edu?subject=NSIC">nexthop@rit.edu</a></li>
									<li>Facebook Group: <a href="http://facebook.com/groups/ritnexthop/" target="_blank">FB.com/groups/ritnexthop/</a></li>
									<li>Facebook Event: <a href="https://www.facebook.com/events/219921965138463/" target="_blank">FB.com/events/219921965138463/</a></li>
									<li>NextHop Homepage: <a href="http://nexthop.network" target="_blank">NextHop.network</a></li>
								</ul>
							</div>
							<div class="6u$ 12u$(medium)">
								<header class="major">
									<h2>Contact Us</h2>
								</header>
						</div>
						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="volunteer" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>We need your help!</h2>
							<p>Looking for RIT students to help us organize and run this awesome event.</p>
						</header>
						<ul class="actions">
							<li><a href="https://goo.gl/forms/NecgEVL9DQvJcHP83" class="button special big" target="_blank">Sign up to Volunteer</a></li>
						</ul>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="http://facebook.com/groups/ritnexthop" class="icon fa-facebook"></a></li>
						<li><a href="http://twitter.com/ritnexthop" class="icon fa-twitter"></a></li>
					<!--	<li><a href="#" class="icon fa-instagram"></a></li>-->
					</ul>
					<ul class="copyright">
						<li>&copy; <a href="http://nexthop.network">NextHop</a> 2017</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
				<!---		<li>Images: <a href="http://unsplash.com">Unsplash</a></li> -->
					</ul>
				</div>
			</footer>

	</body>
</html>
