{% extends 'main/header.html' %}

{% block content %}
<div class="section" id="events-upcoming">
        
            <div class="sectionInner text">		
                    <br><h1 class="sectionHeader"><i class="fa fa-bullhorn"></i> Contact Us</h1>
                    <div class="padLeft">
                      <center><h3>Email us at: <a href="mailto:{{ info.email }}">{{ info.email }}</a><br><br>
                      Check out our <a href="{{ info.club_page }}" target="_blank">RIT The Link Page</a><br><br>
                      Like us on <a href="{{ info.facebook }}" target="_blank">Facebook</a><br><br>
                      Follow us on <a href="{{ info.twitter }}" target="_blank">Twitter</a></h3></center>
                    </div>
                </div>
          </div>
{% endblock %}