{% extends 'main/header.html' %}

{% block content %}

<div class="section" id="events-upcoming">
		<div class="sectionInner text">
						
        <br><h1 class="sectionHeader"><i class="fa fa-calendar"></i> 
            {% if event.type == 'Other' %}
                <h4 class="event"><a href="">{{ event.title }}</a></h4>
            {% else %}
                <h4 class="event"><a href="">{{ event.type }}: {{ event.title }}</a></h4>
            {% endif %}
        </h1>
				<div class="padLeft">
                        {% include "main/print_event_long.html" %}
                    <br>
                    {% for doc in event.docs.all %}
                        <br><br><iframe src="doc.path" align="left" width="800" height="500" 
                        {% if 'youtube' in doc.path %}
                            'allowfullscreen'></iframe>
                        {% endif %}
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}