{% extends 'main/header.html' %}

{% block content %}

<div class="section" id="events-upcoming">
	<div class="sectionInner text">
		<br><h1 class="sectionHeader"><i class="fa fa-calendar"></i> 
            {% if event.type == 'Other' %}
                {{ event.title }}
            {% else %}
                {{ event.type }}: {{ event.title }}
            {% endif %}
        </h1>
	    <div class="padLeft">
			<h2>
                {% if event.start_date_time|date:"b/d/o" == event.end_date_time|date:"b/d/o" %}
                    {{ event.start_date_time|date:"l, F jS, o @ g:i a" }} to {{ event.end_date_time|time:"g:i a" }}<br>
                {% else %}
                    {{ event.start_date_time|date:"l, F jS, o @ g:i a" }} through {{ event.end_date_time|date:"l, F jS, o @ g:i a" }}<br>
                {% endif %}
            </h2>
            <h3>{{ event.location }}</h3>
            {{ event.description|safe|linebreaks }}
            <br>
            {% if event.is_now %}
              <div class="alert alert-warning">
                <a href="{{ event.signin_url }}"><strong>Click here to Sign-In!</strong></a>
              </div>
            {% endif %}
            {% if event.is_past %}
                {% for resource in event.resources.all %}
                    <br><br><iframe src="/{{ resource.file }}" align="left" width="800" height="500"></iframe>
                {% endfor %}
                {% if 'http' in event.stream_url %}
                    <br><br><iframe src="{{ event.stream_url }}" align="left" width="800" height="500" allowfullscreen></iframe>
                {% endif %}
            {% endif %}

	    </div>
	</div>
</div>


{% endblock %}
