{% extends 'main/header.html' %}

{% block content %}

<div class="sectionInner text">	
    <!--<p><strong><i class="fa fa-clock-o fa-2x"></i> Reminder that our PXE boot build it night is tonight, Thursday 4/30 at 7pm in 70-2320.  Hope to see you there!</strong></p>
    <hr>-->
        <h1 class="sectionHeader"><i class="fa fa-question-circle"></i> What is NextHop?</h1>
        <div class="padLeft">
            {{ mission | linebreaks }}
        </div>
    </div>
</div>
<div class="section" id="governance_contact">
    <div class="sectionInner text gov_contactText">
        <div class="fiftyFloat">
            <h1 class="sectionHeader"><i class="fa fa-calendar"></i> Upcoming Events </h1>
            <div class="padLeft">
                <!-- Events go here -->
            </div>
        </div>
        <div class="fiftyFloat">
            {% include "main/mailchimp.html" %}
        </div>
    </div>
        
        
    <br>
    <div class="sectionInner text gov_contactText">
        <div class="fiftyFloatCenter" id="top">
            <h1><center><i class="fa fa-users"></i> Executive Board</center></h1>
        </div>
            <div class="fiftyFloat" id="middle">
                <div class="padLeft">
                    <ul>
                        <li>President: <a href="mailto:{{ eboard.president_email }}">{{ eboard.president }}</a><br /><span class="major">{{ eboard.president_year_major }}</span></li>
                        <li>Vice President: <a href="mailto:{{ eboard.vp_email }}">{{ eboard.vice_president }}</a><br /><span class="major">{{ eboard.vp_year_major }}</span></li>
                    </ul>
                </div>
            </div>
            <div class="fiftyFloat" id="middle">
                <div class="padLeft">
                    <ul>
                        <li>Treasurer: <a href="mailto:{{ eboard.treasurer_email }}">{{ eboard.treasurer }}</a><br /><span class="major">{{ eboard.treasurer_year_major }}</span></li>
                        <li>Secretary: <a href="mailto:{{ eboard.secretary_email }}">{{ eboard.secretary }}</a><br /><span class="major">{{ eboard.secretary_year_major }}</span></li>
                    </ul>
                </div>
            </div>
            <div class="fiftyFloatCenter" id="bottom">
                    <li>Advisor: <a href="mailto:{{ eboard.advisor_email }}">{{ eboard.advisor }}</a><br><span class="major">{{ eboard.advisor_postion }}</span></li>
            </div>
    </div>			
        

    <div class="section" id="footer-homepage">
        <div class="sectionInner">
            <!-- footer goes here -->
        </div>
    </div>
</div>

{% endblock %}