{% extends 'main/header.html' %}

{% block content %}

<div id="sectionFrame">
    <div class="fiftyFloat">
    <div class="section" id="videoSection">
        <div class="sectionInner text">
            <h1 class="sectionHeader"><i class="fa fa-video-camera"></i> Live Stream - Tech Talks</h1>
            <div class="video">
                <iframe width="500" height="315" src="http://www.youtube.com/channel/UC_81td3iju7FaVivljhRLHA/live" frameborder="0" allowfullscreen></iframe><br />
                For older live streams, please see the <a href="/events">events</a> page.
            </div>
        </div>
    </div>
    </div>
    <!--<div class="fiftyFloat">
        <div class="section" id="agenda">
            <div class="sectionInner text">
                <h1 class="sectionHeader"><i class="fa fa-calendar"></i> Agenda</h1>
                <div class="padLeft">
                    Slides will be availble at the time of presentation.
                    <ul>
                        <li>
                            8:00-8:30: IPv6 and Stateless Address Auto Configuration (SLAAC), Prof. Garret Arcoraci <br />
                            &nbsp;View slide sets <a href="http://nexthop.network/slides/041615/Arcoraci-IPv6.pdf" target="_blank">here</a>.
                        </li>
                        <li>
                            8:30-9:00: Securing Your CentOS Box Using Google Authenticator, Nathan Lichtenstein <br />
                            &nbsp;View slide sets <a href="http://lctnstn.com/fathom/centos-gauth.html" target="_blank">here</a>.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->
</div>

{% endblock %}
