{% load static %}
<div id="topBar">
    <div class="sectionInner">
      <div style="background-color:white;border-radius:9999px;margin: 20px 0;">
        <a href="/"><img style="margin: 0 auto;overflow:auto;width:550px;" src="{% static "main/images/NextHopLogo.png" %}"></a>
      </div>
      <span id="nextHop">NextHop</span>
    </div>
  </div>
  <div id="navigationOuter">
    <div class="sectionInner">
      <ul class="navigation">
        <li><a href="/" class="navigationLink" id="homenav"><i class="fa fa-home" ></i> Home</a></li>
        <li><a href="/live" class="navigationLink" id="livenav"><i class="fa fa-video-camera"></i> Live Stream</a></li>
        <li><a href="/events" class="navigationLink" id="eventsnav"><i class="fa fa-calendar"></i> Events</a></li>
        <li><a href="http://nsic.nexthop.network" class="navigationLink" id="nsicsnav"><i class="fa fa-trophy"></i> NSIC</a></li>
      </ul>
    </div>
  </div>