<div class="event" >
    {% if event.type == 'Other' %}
        <h4 class="event"><a href="">{{ event.title }}</a></h4>
    {% else %}
        <h4 class="event"><a href="">{{ event.type }}: {{ event.title }}</a></h4>
    {% endif %}
        <ul>
            {% if event.start_date_time|date:"b/d/o" == event.end_date_time|date:"b/d/o" %}
                {{ event.start_date_time|date:"l, F jS, o @ g:i a" }} to {{ event.end_date_time|time:"g:i a" }}<br>
            {% else %}
            {{ event.start_date_time|date:"l, F jS, o @ g:i a" }} through {{ event.end_date_time|date:"l, F jS, o @ g:i a" }}<br>
            {% endif %}
            {{ event.location }}
            <br>------<br>
            {{ event.description }}
        </ul>
</div>